:root{
    --amarillo: #FFE15B;
    --rojo: #DC3F48;

}
h1, h2{
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    margin-top: 20px;
}
main{
    width: 100%;
    height: auto;
    margin-bottom: 300px;
}
.carousel-item{
    position: relative;
} 
img{
    width: 100%;
    height: auto;
    background-size: contain;
}
.texto_principal{
    position: absolute;
    display: flex;
    width: 100%;
    height: 30%;
    top:0;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    text-transform: uppercase;
}
#formulario1{
    display: grid;
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
  
}
.formulario{
    display: grid;
    height: auto;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}
.btn{
    background: var(--rojo) !important;
    border: unset;
    border-radius: 20px;
    text-align: center;
    }


.form-control input {
    color: green;
    font-size: 24px;
}
#datos{
    padding: 8px;
    justify-content: center;
}

.grilla{
    display: grid;
    grid-template-columns: 20% 15% 10% 25% 15% 15% ;
    grid-template-areas:    
                         
                         " Concepto  Unidad  Base  Remunerativo  noRemunerativo  Descuento"
                  
}


  .paydetail{
      color: black;
      font-size: 2rem;
      justify-content: center;
      text-align: center;
  } 
  .recibosueldofull{
            
            width: 80%;
            height: auto;
            margin-left: 10%;
            margin-right: 10%;
            justify-content: center;
           

  }
  
.header{
    
    display: grid;
    width: 100%;
    height: auto;
 
    grid-template-columns: 16.67% 16.67% 16.65% 16.67% 16.67% 16.67%;
    background-color: cyan;
    
}
.concepto{
    display: grid;
    padding-left: 0.5rem;
    color: darkblue;
    font-size: 1rem;
    grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
   
}
#mostrar{
    margin-top: 5%;
}


#linea1{
    display: grid;
    grid-row: 3;

}
#r_2_1{
    padding-left: 1.5rem;
}
#r_3_4{
    padding-left: 2rem;
}
#r_4_4{
    padding-left: 2rem;
}
#linea7{
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
   
}
#r_7_5{
    padding-left: 2rem; 
}
#r_8_5{
    padding-left: 2rem;
}
#r_9_5{
    padding-left: 2rem;
    }
#r_10_5{
    padding-left: 2rem;
}


.sub{
    display: grid;
   
    grid-template-columns: 33% 33% 33%;
    background-color: cyan;
    height: 2rem;
    justify-content:flex-end;
    padding-right: 5%;
    font-size: 1.3rem;
}
.neto{
    display: grid;
    grid-template-rows: 80% 20%;
    background-color: cyan;
    height: 3rem;
    justify-content: end;
    padding-right: 10%;
    font-size: 1.5rem;
    
}