:root{
    --amarillo: #FFE15B;
    --rojo: #DC3F48;

}
h1, h2{
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    margin-top: 20px;
}
main{
    width: 100%;
    height: auto;
    margin-bottom: 300px;
}
.carousel-item{
    position: relative;
} 
img{
    width: 100%;
    height: auto;
    background-size: contain;
}
.texto_principal{
    position: absolute;
    display: flex;
    width: 100%;
    height: 30%;
    top:0;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    text-transform: uppercase;
}
#formulario1{
    display: grid;
    
    height: auto;
    width: 40%;
    margin-left: 10%;
    margin-right: 10%;
    
  
}
.formulario{
    display: grid;
    height: auto;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}
.aguilucho{
    display: grid;
    height: auto;
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    align-content: center;
}
.btn{
    background: var(--rojo) !important;
    border: unset;
    border-radius: 20px;
    text-align: center;
    float: right;

    }
.btn #sueldo{
    display: flex;
    
}
#save{
    float: right;
    margin-top: 10px;

}
.form-control {
    width: 50%;
}
.form-control input {
    color: green;
    font-size: 24px;
    
}
#datos{
    padding: 8px;
    justify-content: center;
}

.grilla{
    display: grid;
    grid-template-columns: 20% 15% 10% 25% 15% 15% ;
    grid-template-areas:    
                         
                         " Concepto  Unidad  Base  Remunerativo  noRemunerativo  Descuento"
                  
}


  .paydetail{
      color: black;
      font-size: 2rem;
      justify-content: center;
      text-align: center;
  } 
  .recibosueldofull{
            
            width: 80%;
            height: auto;
            border: grey  double 3px;
            box-shadow: lightskyblue 5px 5px 10px 10px;
            margin-left: 10%;
            margin-right: 10%;
            justify-content: center;
            padding-bottom: 2rem;
  }
.headrecibo{
            width: 100%;
            height: 10%;
            font-size: 1.5rem;
            margin-top: 2%;
            margin-bottom: 2%;
            display: grid;
            grid-template-columns: 50% 50%;
            background-image: linear-gradient(to top, cyan, gray);
            
            
}  
#displaymonth{
    margin: 3%;
}
#displayname{
    margin: 3%;
}
.header{
    
    display: grid;
    width: 100%;
    height: auto;
    padding-left: 1rem;
    grid-template-columns: 20% 15% 10% 25% 15% 15% ;
    background-color: cyan;
    
}
.concepto{
    display: grid;
    padding-left: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: darkblue;
    font-size: 1.2rem;
    grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-template-columns: 20% 15% 10% 25% 15% 15% ;
   
}
#mostrar{
    margin-top: 20%;
    margin-bottom: 5%;
    background-color: chartreuse !important;
    color: black;
    

}


#linea1{
    display: grid;
    grid-row: 3;

}
#r_2_1{
    padding-left: 1.5rem;
}
#r_3_4{
    padding-left: 2rem;
}
#r_4_4{
    padding-left: 2rem;
}
#linea7{
    grid-template-columns: 20% 15% 10% 25% 15% 15% ;
   
}
#r_7_5{
    padding-left: 2rem; 
}
#r_8_5{
    padding-left: 2rem;
}
#r_9_5{
    padding-left: 2rem;
    }
#r_10_5{
    padding-left: 2rem;
}


.sub{
    display: grid;
    text-align:end;

    grid-template-columns: 33% 33% 33%;
    background-image: linear-gradient(to top, gray , cyan);
    height: 4rem;
    justify-content:flex-end;
    padding-right: 5%;
    font-size: 1.3rem;
}
.neto{
    display: grid;
    grid-template-rows:  20%;
    background-color: lightgreen;
    height: 5rem;
    justify-content: end;
    padding-right: 10%;
    font-size: 1.5rem;
    align-content: center;
    
}